<%= form_tag search_path, method: 'get' do %>
  <%= label_tag :steam_url, "http://steamcommunity.com/" %>
  <%= select_tag :type, options_for_select([["id/", "vanity_url"], ["profiles/", "steamid"]]) %>
  <%= text_field_tag :id %>
  <%= submit_tag "Search" %>
<% end %>

<p class="helper-text">Search using your custom Steam URL.</p>
