<h1>MY STEAM POP</h1>


<% if @library %>
  <p>not <%=@player.name%>?</p>
  <% @library.each do |game| %>
  <%= game[:name] %>
  <br>
  <%= game[:population] %>
  <br>
  <% end %>
<% else %>
  <%= form_tag search_path, method: 'get' do %>
    <%= label_tag :id, "Search for:" %>
    <%= text_field_tag :id %>
    <%= submit_tag "search" %>
  <% end %>
  <p>WELCOME TO THIS WEBPAGE.</p>
<% end %>
