<h1>MY STEAM POP</h1>

<div>
  <% if @library %>
    <p>not <%=@player.name%>?</p>
    <p>look at a different account</p>
    <%= button_to "not?", session_path(session[:player_id]), method: 'delete' %>
    <table>
      <tr>
        <th>Image</th>
        <th>Game</th>
        <th>Population</th>
      </tr>
    <% @library.each do |game| %>
      <tr>
        <td><%= image_tag url(game) %></td>
        <td><%= game[:name] %></td>
        <td><%= game[:population] %></td>
      </tr>
    <% end %>
    </table>
  <% else %>
    <%= form_tag search_path, method: 'get' do %>
      <%= label_tag :id, "Search for:" %>
      <%= text_field_tag :id %>
      <%= submit_tag "Search" %>
    <% end %>
    <p>WELCOME TO THIS WEBPAGE.</p>
  <% end %>
</div>
