<h1>STEAM TALLY</h1>

<div>
  <% if @library %>
    <p>not <%=@player.name%>?</p>
    <p>look at a different account</p>
    <%= button_to "not?", session_path(session[:player_id]), method: 'delete' %>
    <table>
      <thead>
        <tr>
          <th>Game</th>
          <th></th>
          <th class="population-col">Population</th>
        </tr>
      </thead>
      <% @library.each do |game| %>
        <tr>
          <td><%= image_tag url(game) %></td>
          <td><%= game[:name] %></td>
          <td class="population-col"><%= game[:population] %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <%= form_tag search_path, method: 'get' do %>
      <%= label_tag :id, "Search for:" %>
      <%= text_field_tag :id %>
      <%= submit_tag "Search" %>
    <% end %>
    <p>WELCOME TO THIS WEBPAGE.</p>
  <% end %>
</div>
